﻿@model CherryCreekSystems.Website.Models.QuotesViewModel

@{
    ViewBag.Title = "Index";
}

@using (Ajax.BeginForm("QuotesPage", "Quotes", null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "QuotesTable",
    OnBegin = "toggleLoading",
    OnComplete = "toggleLoading"
}, new { @role = "form" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <h3>Search Quotes</h3>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Customer: ", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.CustomerId, Model.Customers, htmlAttributes: new { @class = "form-control AjaxSubmitForm" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Status: ", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.QuoteStatusId, Model.QuoteStatuses, htmlAttributes: new { @class = "form-control AjaxSubmitForm" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Boom Type: ", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.BoomTypeId, Model.BoomTypes, htmlAttributes: new { @class = "form-control AjaxSubmitForm" })
                    </div>
                </div>
            </div>
            <div class="col-md-push-2 col-md-4">
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <img src="~/Content/images/cc_logo.gif" alt="logo" height="115" width="95" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        For any questions about your quotes, contact us at:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">

                        <b>Email</b>
                    </div>
                    <div class="col-md-9">
                        <a href="mailto:walter@cherrycreeksystems.com">walter@cherrycreeksystems.com</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <b>Web</b>
                    </div>
                    <div class="col-md-9">
                        <a href="http://www.cherrycreeksystems.com" target="_blank">www.cherrycreeksystems.com</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <b>Direct</b>
                    </div>
                    <div class="col-md-9">
                        (719) 637-2035
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <b>Phone</b>
                    </div>
                    <div class="col-md-9">
                        (719) 380-8373
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <b>Toll Free</b>
                    </div>
                    <div class="col-md-9">
                        (877) 558-3246
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("_Quotes", Model)

@section scripts{

    <script src="~/Scripts/AjaxUtilities.js"></script>
}