﻿
@using PagedList.Mvc
@model CherryCreekSystems.Website.Models.DistributorsViewModel

@{
    var pagingOptions = PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing
        (new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.ReplaceWith,
            UpdateTargetId = "DistributorsTable",
            OnBegin = "toggleLoading",
            OnComplete = "toggleLoading"
        });

    pagingOptions.DisplayPageCountAndCurrentLocation = true;
    pagingOptions.DisplayItemSliceAndTotal = true;
    pagingOptions.ItemSliceAndTotalFormat = "{2} Results";
    pagingOptions.DisplayLinkToFirstPage = PagedListDisplayMode.Always;
    pagingOptions.DisplayLinkToLastPage = PagedListDisplayMode.Always;
    pagingOptions.DisplayLinkToPreviousPage = PagedListDisplayMode.Never;
    pagingOptions.DisplayLinkToNextPage = PagedListDisplayMode.Never;
    pagingOptions.DisplayLinkToIndividualPages = true;
}

<div id="DistributorsTable">
    @if (Model.Distributors.Any())
    {
        <div class="row">
            <div class="col-sm-12">

                @Html.PagedListPager(Model.Distributors,
            page => Url.Action("DistributorsPage", "Distributors",
            new { page, search = Model.Search }),
            pagingOptions)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 200px">
                                <u>Distributor</u>
                            </th>
                            <th style="width: 200px">
                                <u>Login Name</u>
                            </th>
  
                        </tr>
                    </thead>
                    @foreach (var item in Model.Distributors)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row" style="margin-top: 25px">
            <div class="col-sm-12">
                <h2>No Results Found</h2>
            </div>
        </div>
    }
</div>
