﻿
@model IEnumerable<CherryCreekSystems.Domain.StatusViewModel>

<div id="ProgressTable">
    @if (Model.Any())
    {
        <div class="row" style="margin-top: 25px">
            <div class="col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 130px;">
                                <u>Customer</u>
                            </th>
                            <th style="width: 200px;">
                                <u>System</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Quantity</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Info and Design</u>
                            </th>
                            <th style="width: 95px;">
                                <u>SprayBar Approval</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Assembly Pick List</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Shipping Pick List</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Production</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Saw and Sheer</u>
                            </th>
                            <th style="width: 80px;">
                                <u>Punch and Brake</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Machining</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Welding</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Galvanizer</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Assembly</u>
                            </th>
                            <th style="width: 50px;">
                                <u>Shipping</u>
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td  style="width: 130px;">
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td  style="width: 200px;">
                                @Html.DisplayFor(modelItem => item.SystemName)
                            </td>
                            <td  style="width: 70px; text-align: center">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            @if (item.InfoAndDesignStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.InfoAndDesignStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.InfoAndDesignStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.InfoAndDesignStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.InfoAndDesignStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.InfoAndDesignStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.InfoAndDesignStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.SprayBarApprovalStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.SprayBarApprovalStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.SprayBarApprovalStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.SprayBarApprovalStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.SprayBarApprovalStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.SprayBarApprovalStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.SprayBarApprovalStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.AssemblyPickListStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.AssemblyPickListStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.AssemblyPickListStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.AssemblyPickListStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.AssemblyPickListStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.AssemblyPickListStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.AssemblyPickListStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.ShippingPickListStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.ShippingPickListStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.ShippingPickListStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.ShippingPickListStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.ShippingPickListStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.ShippingPickListStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.ShippingPickListStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.ProductionStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.ProductionStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.ProductionStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.ProductionStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.ProductionStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.ProductionStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.ProductionStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.SawAndSheerStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.SawAndSheerStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.SawAndSheerStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.SawAndSheerStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.SawAndSheerStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.SawAndSheerStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.SawAndSheerStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.PunchAndBreakStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.PunchAndBreakStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.PunchAndBreakStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.PunchAndBreakStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.PunchAndBreakStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.PunchAndBreakStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.PunchAndBreakStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.MachiningStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.MachiningStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.MachiningStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.MachiningStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.MachiningStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.MachiningStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.MachiningStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.WeldingStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.WeldingStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.WeldingStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.WeldingStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.WeldingStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.WeldingStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.WeldingStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.GalganizerStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.GalganizerStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.GalganizerStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.GalganizerStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.GalganizerStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.GalganizerStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.GalganizerStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.AssemblyStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.AssemblyStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.AssemblyStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.AssemblyStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.AssemblyStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.AssemblyStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.AssemblyStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (item.ShippingStatus == 1.00)
                            {
                                <td style="width:80px;background-color: rgb(255,255,255)"></td>                                    }
                            else if (item.ShippingStatus == 0.00)
                            {
                                <td style="width:80px;background-color: rgb(0, 255, 0)"></td>
                            }
                            else if (item.ShippingStatus >= 0.90)
                            {
                                <td style="width:80px;background-color: rgb(255, 205, 205)"></td>
                            }
                            else if (item.ShippingStatus >= 0.80)
                            {
                                <td style="width:80px;background-color: rgb(255, 150, 150)"></td>
                            }
                            else if (item.ShippingStatus >= 0.70)
                            {
                                <td style="width:80px;background-color: rgb(255, 100, 100)"></td>
                            }
                            else if (item.ShippingStatus >= 0.60)
                            {
                                <td style="width:80px;background-color: rgb(255, 60, 60)"></td>
                            }
                            else if (item.ShippingStatus >= 0.50)
                            {
                                <td style="width:80px;background-color: rgb(255, 0, 0)"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row" style="margin-top: 50px">
            <div class="col-sm-12">
                <h2>No Results Found</h2>
            </div>
        </div>
    }
</div>
