﻿
@using Newtonsoft.Json;

<style>
    .sectionMargin {
        margin-top: 25px;
    }

    .dynamicFields > div {
        margin-top: 20px;
    }
</style>

<input type="hidden" id="QuoteViewModel" value=@Html.Raw(JsonConvert.SerializeObject(Model)) />

<form id="quoteForm">
    <div id="app" class="form-horizontal" style="margin-top: 50px">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Main Information</h1>
            </div>
        </div>

        <div class="row sectionMargin">
            <div class="col-md-6">
                <div class="form-group" v-if="ExistingQuote">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Quote Number:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" v-model="vm.QuoteNumber" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Status:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <select id="quoteStatuses" v-model="vm.SelectedQuoteStatusId" name="SelectedQuoteStatusId" class="form-control">
                            <option v-for="status in vm.Statuses" v-bind:value="status.Id">{{ status.Name }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" v-if="ExistingQuote">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Quote Total:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" v-bind:value="vm.QuoteTotal" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Distributor:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <select id="distributors" v-model="vm.SelectedDistributorId" name="SelectedDistributorId" class="form-control">
                            <option v-for="dist in vm.Distributors" v-bind:value="dist.Id">{{ dist.Name }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" v-bind:class="{'has-error':errors.has('SelectedSalesRepId')}">
                    <label class="col-md-5 control-label">Sales Rep:</label>
                    <div class="col-md-7 text-left">
                        <select id="salesreps" v-model="vm.SelectedSalesRepId" v-validate="validation.required" v-bind:class="{'alert-danger': errors.has('SelectedSalesRepId')}" name="SelectedSalesRepId" class="form-control">
                            <option selected disabled value="0">Select a sales rep</option>
                            <option v-for="rep in vm.SalesReps" v-bind:value="rep.Id">{{ rep.Name }}</option>
                        </select>
                        <p class="text-danger" v-if="errors.has('SelectedSalesRepId')">{{ errors.first('SelectedSalesRepId') }}</p>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error':errors.has('SelectedCustomerId')}">
                    <label class="col-md-5 text-right control-label">Customer:</label>
                    <div class="col-md-7 text-left">
                        <select id="customers" v-model="vm.SelectedCustomerId" v-validate="validation.required" v-bind:class="{'alert-danger': errors.has('SelectedCustomerId')}" name="SelectedCustomerId" class="form-control">
                            <option selected disabled value="0">Select a customer</option>
                            <option v-for="cust in vm.Customers" v-bind:value="cust.Id">{{ cust.CompanyName }}</option>
                        </select>
                        <p class="text-danger" v-if="errors.has('SelectedCustomerId')">{{ errors.first('SelectedCustomerId') }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Contact Name:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" v-model="vm.Customer.ContactName" name="Customer.ContactName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Phone:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" v-model="vm.Customer.Phone" name="Customer.Phone" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Fax:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" v-model="vm.Customer.Fax" name="Customer.Fax" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Email:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" v-model="vm.Customer.Email" name="Customer.Email" class="form-control" />
                    </div>
                </div>

                <div class="form-group" v-if="CustomerHasShipAddresses">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Ship Addresses:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <select id="shipaddresses" v-model="vm.SelectedShipAddressId" name="SelectedShipAddressId" class="form-control">
                            <option v-for="ship in vm.Customer.ShipAddresses" v-bind:value="ship.Id">{{ ship.FullAddress }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Ship Address:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" name="FullAddress" class="form-control" v-model="FullAddress" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Quote Information</h1>
            </div>
        </div>

        <div class="row sectionMargin">
            <div class="col-md-6">
                <div class="form-group" v-bind:class="{'has-error':errors.has('LeadTime')}">
                    <label class="col-md-5 text-right control-label">Lead Time (weeks):</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="LeadTime" v-model="vm.LeadTime" v-validate="validation.requiredInteger" placeholder="0" class="form-control" />
                        <p class="text-danger" v-if="errors.has('LeadTime')">{{ errors.first('LeadTime') }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 text-right control-label">Purchase Order:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="PurchaseOrder" class="form-control" v-model="vm.PurchaseOrder" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 text-right control-label">Discount:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="Discount" class="form-control" v-model="vm.Discount" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 text-right control-label">Price Level:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="PriceLevel" class="form-control" v-validate="validation.optionalDecimal" v-model="vm.PriceLevel" placeholder="0.00" />
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-pull-1">
                <div class="form-group">
                    <label class="col-md-5 text-right control-label">Freight Estimate:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="FreightEstimate" class="form-control" v-model="vm.FreightEstimate" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-5 text-right control-label">Installation Estimate:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="InstallationEstimate" class="form-control" v-model="vm.InstallationEstimate" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-5 text-right control-label">Steel Estimate:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="SteelEstimate" class="form-control" v-model="vm.SteelEstimate" />
                    </div>
                </div>


                <div class="form-group" v-bind:class="{'has-error':errors.has('OrderDate')}">
                    <label class="col-md-5 text-right control-label">Order Date:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" class="form-control" v-validate="validation.requiredDate" v-mask="'##/##/####'" v-model.lazy="vm.OrderDate" name="OrderDate" placeholder="mm/dd/yyyy">
                        <p class="text-danger" v-if="errors.has('OrderDate')">{{ errors.first('OrderDate') }}</p>
                    </div>
                </div>

                <div class="form-group" v-bind:class="{'has-error':errors.has('DueDate')}">
                    <label class="col-md-5 text-right control-label">Due Date:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" class="form-control" v-validate="validation.requiredDate" v-mask="'##/##/####'" v-model.lazy="vm.DueDate" name="DueDate" placeholder="mm/dd/yyyy">
                        <p class="text-danger" v-if="errors.has('DueDate')">{{ errors.first('DueDate') }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Boom Information</h1>
            </div>
        </div>

        <div class="row sectionMargin">
            <div class="col-md-4">
                <div class="form-group" v-bind:class="{'has-error':errors.has('SelectedGreenhouseTypeId')}">
                    <label class="col-md-5 text-right control-label">Greenhouse:</label>
                    <div class="col-md-7 text-left">
                        <select id="customers" v-model="vm.SelectedGreenhouseTypeId" v-validate="validation.required" v-bind:class="{'alert-danger': errors.has('SelectedGreenhouseTypeId')}" name="SelectedGreenhouseTypeId" class="form-control">
                            <option selected disabled value="0">Select a greenhouse</option>
                            <option v-for="gt in vm.GreenhouseTypes" v-bind:value="gt.Id">{{ gt.Name }}</option>
                        </select>
                        <p class="text-danger" v-if="errors.has('SelectedGreenhouseTypeId')">{{ errors.first('SelectedGreenhouseTypeId') }}</p>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error':errors.has('NumberOfBays')}">
                    <label class="col-md-5 text-right control-label">Number Of bays:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="NumberOfBays" class="form-control" v-model="vm.NumberOfBays" v-validate="validation.optionalInteger" placeholder="0" />
                        <p class="text-danger" v-if="errors.has('NumberOfBays')">{{ errors.first('NumberOfBays') }}</p>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error':errors.has('BayLength')}">
                    <label class="col-md-5 text-right control-label">Bay Length (FT):</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="BayLength" class="form-control" v-model="vm.BayLength" v-validate="validation.optionalDecimal" placeholder="0.00" />
                        <p class="text-danger" v-if="errors.has('BayLength')">{{ errors.first('BayLength') }}</p>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error':errors.has('BayWidth')}">
                    <label class="col-md-5 text-right control-label">Bay Width (FT):</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="BayWidth" class="form-control" v-model="vm.BayWidth" v-validate="validation.optionalDecimal" placeholder="0.00" />
                        <p class="text-danger" v-if="errors.has('BayWidth')">{{ errors.first('BayWidth') }}</p>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error':errors.has('HoseSize')}">
                    <label class="col-md-5 text-right control-label">Hose Size (IN):</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="HoseSize" class="form-control" v-model="vm.HoseSize" v-validate="validation.optionalDecimal" placeholder="0.00" />
                        <p class="text-danger" v-if="errors.has('HoseSize')">{{ errors.first('HoseSize') }}</p>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error':errors.has('GrowingSurfaceHeight')}">
                    <label class="col-md-5 text-right">Growing Surface Height (IN):</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="GrowingSurfaceHeight" class="form-control" v-model="vm.GrowingSurfaceHeight" v-validate="validation.optionalDecimal" placeholder="0.00" />
                        <p class="text-danger" v-if="errors.has('GrowingSurfaceHeight')">{{ errors.first('GrowingSurfaceHeight') }}</p>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="form-group" v-bind:class="{'has-error':errors.has('PostSpacing')}">
                    <label class="col-md-5 text-right control-label">Post Spacing (FT):</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="PostSpacing" class="form-control" v-model="vm.PostSpacing" v-validate="customValidation_PostSpacing" placeholder="0.00" />
                        <p class="text-danger" v-if="errors.has('PostSpacing')">{{ errors.first('PostSpacing') }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 text-right">Post Dimensions (IN X IN):</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="PostDimensions" class="form-control" v-model="vm.PostDimensions" />
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error':errors.has('SprayBarSize')}">
                    <label class="col-md-5 text-right control-label">Spraybar Size:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="SprayBarSize" class="form-control" v-model="vm.SprayBarSize" v-validate="validation.optionalDecimal" placeholder="0.00" />
                        <p class="text-danger" v-if="errors.has('SprayBarSize')">{{ errors.first('SprayBarSize') }}</p>
                    </div>
                </div>

                <div class="form-group" v-bind:class="{'has-error':errors.has('NumberOfBaySidewalls')}">
                    <label class="col-md-5 text-right">Number of Bay Sidewalls:</label>
                    <div class="col-md-7 text-left">
                        <input type="text" name="NumberOfBaySidewalls" class="form-control" v-model="vm.NumberOfBaySidewalls" v-validate="validation.optionalInteger" placeholder="0" />
                        <p class="text-danger" v-if="errors.has('NumberOfBaySidewalls')">{{ errors.first('NumberOfBaySidewalls') }}</p>
                    </div>
                </div>

                <div class="form-group" v-bind:class="{'has-error':errors.has('BottomCordType')}">
                    <label class="col-md-5 text-right">Bottom Cord Type:</label>
                    <div class="col-md-7 text-left">
                        <div class="col-md-6">
                            <input type="radio" id="bottomCordTypeSQ" value="SQ" name="BottomCordType" v-model="vm.BottomCordType" v-validate="validation.required" />
                            <label for="bottomCordTypeSQ">SQ</label>
                        </div>
                        <div class="col-md-6 col-md-pull-2">
                            <input type="radio" id="bottomCordTypeRD" value="RD" name="BottomCordType" v-model="vm.BottomCordType">
                            <label for="bottomCordTypeRD">RD</label>
                        </div>
                        <p class="text-danger" v-if="errors.has('BottomCordType')">{{ errors.first('BottomCordType') }}</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Bottom Cord Size:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" name="BottomCordSize" class="form-control" v-model="vm.BottomCordSize" />
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error':errors.has('BottomCordHeight')}">
                    <div class="col-md-5 text-right">
                        <label>Bottom Cord Height:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" name="BottomCordHeight" class="form-control" v-model="vm.BottomCordHeight" v-validate="validation.optionalDecimal" placeholder="0.00" />
                        <p class="text-danger" v-if="errors.has('BottomCordHeight')">{{ errors.first('BottomCordHeight') }}</p>
                    </div>
                </div>

            </div>

            <div class="col-md-4">
                <div class="form-group" v-bind:class="{'has-error':errors.has('TrussSpacing')}">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Truss Spacing:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" name="TrussSpacing" class="form-control" v-model="vm.TrussSpacing" placeholder="0.00" />
                        <p class="text-danger" v-if="errors.has('TrussSpacing')">{{ errors.first('TrussSpacing') }}</p>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error':errors.has('WalkwayWidth')}">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Walkway Width:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" name="WalkwayWidth" class="form-control" v-model="vm.WalkwayWidth" v-validate="validation.optionalDecimal" placeholder="0.00" />
                        <p class="text-danger" v-if="errors.has('WalkwayWidth')">{{ errors.first('WalkwayWidth') }}</p>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{'has-error':errors.has('ClearanceWidth')}">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Clearance Width:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" name="ClearanceWidth" class="form-control" v-model="vm.ClearanceWidth" v-validate="validation.optionalDecimal" placeholder="0.00" />
                        <p class="text-danger" v-if="errors.has('ClearanceWidth')">{{ errors.first('ClearanceWidth') }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Location:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" name="Location" class="form-control" v-model="vm.Location" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label>Additional Information:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" name="AdditionalInformation" class="form-control" v-model="vm.AdditionalInformation" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 text-right">
                        <label class="control-label">Customer Notes:</label>
                    </div>
                    <div class="col-md-7 text-left">
                        <input type="text" name="CustomerNotes" class="form-control" v-model="vm.CustomerNotes" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">System Information</h1>
            </div>
        </div>
        <div class="row sectionMargin">
            <div class="form-group">
                <div class="row" style="width:100%">
                    <div class="col-md-4" v-bind:class="{'has-error':errors.has('SelectedBoomType')}">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label class="control-label">Boom Type:</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <select id="boomTypes" name="SelectedBoomType" class="form-control" v-model="vm.SelectedBoomType" v-validate="validation.required">
                                    <option selected disabled value="0">Select a boom type</option>
                                    <option v-for="boom in vm.BoomTypes" v-bind:value="boom.Id">{{ boom.Name }}</option>
                                </select>
                                <p class="text-danger" v-if="errors.has('SelectedBoomType')">{{ errors.first('SelectedBoomType') }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" v-bind:class="{'has-error':errors.has('QuantityOfSystems')}">
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <label class="control-label">System Quantity:</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <input type="text" name="QuantityOfSystems" class="form-control" v-model="vm.QuantityOfSystems" v-validate="validation.requiredInteger" />
                                <p class="text-danger" v-if="errors.has('QuantityOfSystems')">{{ errors.first('QuantityOfSystems') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="min-height: 500px; width: 100%">
                    <div v-if="NoBoomSelected" style="margin: auto; margin-top:100px; width: 60%">
                        <h2 style="font-weight: bold">Select a boom type to see the applicable fields</h2>
                    </div>
                    <div class="col-md-4 dynamicFields">
                        <template v-if="EchoField">
                            <div class="row" v-bind:class="{'has-error':errors.has('SelectedDrumSize')}">
                                <div class="col-md-6 text-right">
                                    <label class="control-label">Drum Size:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <select id="drumsizes" v-model="vm.SelectedDrumSize" name="SelectedDrumSize" v-validate="validation.required" class="form-control">
                                        <option v-for="ds in vm.DrumSizes" v-bind:value="ds">{{ ds }}</option>
                                    </select>
                                    <p class="text-danger" v-if="errors.has('SelectedDrumSize')">{{ errors.first('SelectedDrumSize') }}</p>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row" v-bind:class="{'has-error':errors.has('SelectedControllerType')}">
                                <div class="col-md-6 text-right">
                                    <label class="control-label">Controller Type:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <select id="echoSelectedControllerTypes" v-model="vm.SelectedControllerType" v-validate="validation.required" name="SelectedControllerType" class="form-control">
                                        <option v-for="ct in vm.EchoSelectedControllerTypes" v-bind:value="ct">{{ ct }}</option>
                                    </select>
                                    <p class="text-danger" v-if="errors.has('SelectedControllerType')">{{ errors.first('SelectedControllerType') }}</p>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row" v-bind:class="{'has-error':errors.has('SelectedNumberOfLayers')}">
                                <div class="col-md-6 text-right">
                                    <label class="control-label">Number of Layers:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <select id="numberoflayers" v-model="vm.SelectedNumberOfLayers" name="SelectedNumberOfLayers" v-validate="validation.required" class="form-control">
                                        <option v-for="nl in vm.NumberOfLayers" v-bind:value="nl">{{ nl }}</option>
                                    </select>
                                    <p class="text-danger" v-if="errors.has('SelectedNumberOfLayers')">{{ errors.first('SelectedNumberOfLayers') }}</p>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row" v-bind:class="{'has-error':errors.has('SelectedPulleyBracketSpacing')}">
                                <div class="col-md-6 text-right">
                                    <label class="control-label">Pulley Bracket Spacing:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <select id="SelectedPulleyBracketSpacing" v-model="vm.SelectedPulleyBracketSpacing" v-validate="validation.required" name="SelectedPulleyBracketSpacing" class="form-control">
                                        <option v-for="pb in vm.PulleyBracketSpacings" v-bind:value="pb">{{ pb }}</option>
                                    </select>
                                    <p class="text-danger" v-if="errors.has('SelectedPulleyBracketSpacing')">{{ errors.first('SelectedPulleyBracketSpacing') }}</p>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row" v-bind:class="{'has-error':errors.has('SelectedFeed')}">
                                <div class="col-md-6 text-right">
                                    <label class="control-label">Feed:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <select id="SelectedFeed" v-model="vm.SelectedFeed" v-validate="validation.required" name="SelectedFeed" class="form-control">
                                        <option v-for="f in vm.Feeds" v-bind:value="f">{{ f }}</option>
                                    </select>
                                    <p class="text-danger" v-if="errors.has('SelectedFeed')">{{ errors.first('SelectedFeed') }}</p>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="col-md-4 dynamicFields">
                        <template v-if="EchoField">
                            <div class="row" v-bind:class="{'has-error':errors.has('BasketSpacing')}">
                                <div class="col-md-6 text-right">
                                    <label class="control-label">Basket Spacing:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="text" name="BasketSpacing" class="form-control" v-model="vm.BasketSpacing" v-validate="validation.requiredDecimal" />
                                    <p class="text-danger" v-if="errors.has('BasketSpacing')">{{ errors.first('BasketSpacing') }}</p>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row" v-bind:class="{'has-error':errors.has('ExtensionHangerLength')}">
                                <div class="col-md-6 text-right">
                                    <label>Extension Hanger Length:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="text" name="ExtensionHangerLength" class="form-control" v-model="vm.ExtensionHangerLength" v-validate="validation.optionalDecimal" />
                                    <p class="text-danger" v-if="errors.has('ExtensionHangerLength')">{{ errors.first('ExtensionHangerLength') }}</p>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="col-md-4">
                        <template v-if="EchoField">
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <label>Center Bay Water Station:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="col-md-6">
                                        <input type="radio" id="centerBayWaterStationYes" value="true" v-model="vm.CenterBayWaterStation">
                                        <label for="centerBayWaterStationYes">Yes</label>
                                    </div>
                                    <div class="col-md-6 col-md-pull-2">
                                        <input type="radio" id="centerBayWaterStationNo" value="false" v-model="vm.CenterBayWaterStation">
                                        <label for="centerBayWaterStationNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <label>EV, VPD, Third Party Control:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="col-md-6">
                                        <input type="radio" id="evVpdThirdPartyControlYes" value="true" v-model="vm.EvVpdThirdPartyControl">
                                        <label for="evVpdThirdPartyControlYes">Yes</label>
                                    </div>

                                    <div class="col-md-6 col-md-pull-2">
                                        <input type="radio" id="evVpdThirdPartyControlNo" value="false" v-model="vm.EvVpdThirdPartyControl">
                                        <label for="evVpdThirdPartyControlNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <label>3/4" AMIAD Filter Assembly:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="col-md-6">
                                        <input type="radio" id="threeFourthAMIADFilterAssemblyYes" value="true" v-model="vm.ThreeFourthAMIADFilterAssembly">
                                        <label for="threeFourthAMIADFilterAssemblyYes">Yes</label>
                                    </div>
                                    <div class="col-md-6 col-md-pull-2">
                                        <input type="radio" id="threeFourthAMIADFilterAssemblyNo" value="false" v-model="vm.ThreeFourthAMIADFilterAssembly">
                                        <label for="threeFourthAMIADFilterAssemblyNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <label>Lockline:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="col-md-6">
                                        <input type="radio" id="lockLineYes" value="true" v-model="vm.LockLine">
                                        <label for="lockLineYes">Yes</label>
                                    </div>
                                    <div class="col-md-6 col-md-pull-2">
                                        <input type="radio" id="lockLineNo" value="false" v-model="vm.LockLine">
                                        <label for="lockLineNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <label>Remote Pull Chain Switch:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="col-md-6">
                                        <input type="radio" id="remotePullChainSwitchYes" value="true" v-model="vm.RemotePullChainSwitch">
                                        <label for="remotePullChainSwitchYes">Yes</label>
                                    </div>
                                    <div class="col-md-6 col-md-pull-2">
                                        <input type="radio" id="remotePullChainSwitchNo" value="false" v-model="vm.RemotePullChainSwitch">
                                        <label for="remotePullChainSwitchNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <label>DRAMM Redhead Breaker Upgrade:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="col-md-6">
                                        <input type="radio" id="dRAMMRedheadBreakerUpgradeYes" value="true" v-model="vm.DRAMMRedheadBreakerUpgrade">
                                        <label for="dRAMMRedheadBreakerUpgradeYes">Yes</label>
                                    </div>
                                    <div class="col-md-6 col-md-pull-2">
                                        <input type="radio" id="dRAMMRedheadBreakerUpgradeNo" value="false" v-model="vm.DRAMMRedheadBreakerUpgrade">
                                        <label for="dRAMMRedheadBreakerUpgradeNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-if="EchoField">
                            <div class="row">
                                <div class="col-md-5 text-right">
                                    <label>Water Solenoid Control:</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <div class="col-md-6">
                                        <input type="radio" id="waterSolenoidControlYes" value="true" v-model="vm.WaterSolenoidControl">
                                        <label for="waterSolenoidControlYes">Yes</label>
                                    </div>
                                    <div class="col-md-6 col-md-pull-2">
                                        <input type="radio" id="waterSolenoidControlNo" value="false" v-model="vm.WaterSolenoidControl">
                                        <label for="waterSolenoidControlNo">No</label>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center sectionMargin" style="margin: auto; width: 50%;">
            <button type="submit" v-on:click="submit" class="btn btn-primary btn-lg">
                Submit
            </button>
        </div>
        <div class="text-center sectionMargin" style="margin: auto; width: 50%;" v-if="CalculationErrorsAvailable">
            <ul>
                <li v-for="error in vm.CalculationErrors">{{error}}</li>
            </ul>
        </div>
    </div>
</form>


<script src="~/Scripts/bundle.js"></script>

@*<script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>*@
@*<script src="https://unpkg.com/vue"></script>*@
@*<script src="~/Scripts/v-mask.min.js"></script>*@
@*<script src="https://unpkg.com/vue-numeric"></script> not used*@
@*<script src="https://unpkg.com/axios/dist/axios.min.js"></script>*@
@*<script src="http://underscorejs.org/underscore-min.js"></script>*@

