﻿@model QuotesViewModel

@{
    ViewBag.Title = "Index";
}

@using (Ajax.BeginForm("QuotesPage", "Quotes", null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "QuotesTable",
    OnBegin = "toggleLoading",
    OnComplete = "toggleLoading"
}, new { @role = "form" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <h3>Search Quotes</h3>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <div class="form-group">
            @Html.Label("Distributor: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DistributorId, Model.Distributors, htmlAttributes: new { @class = "form-control AjaxSubmitForm" })
                @*@Html.ValidationMessageFor(model => model.DistributorId, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Sales Rep: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SalesRepId, Model.SalesReps, htmlAttributes: new { @class = "form-control AjaxSubmitForm" })
                @*@Html.ValidationMessageFor(model => model.DistributorId, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Customer: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CustomerId, Model.Customers, htmlAttributes: new { @class = "form-control AjaxSubmitForm" })
                @*@Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Status: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.QuoteStatusId, Model.QuoteStatuses, htmlAttributes: new { @class = "form-control AjaxSubmitForm" })
                @*@Html.ValidationMessageFor(model => model.QuoteStatusId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Boom Type: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BoomTypeId, Model.BoomTypes, htmlAttributes: new { @class = "form-control AjaxSubmitForm" })
                @*@Html.ValidationMessageFor(model => model.QuoteStatusId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>*@
    </div>
}

@Html.Partial("_Quotes", Model)

@section scripts{

    <script src="~/Scripts/AjaxUtilities.js"></script>
}