﻿@model QuoteBoomSystemsViewModel


<link href="~/Content/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/kendo.default.mobile.min.css" rel="stylesheet" />

@Html.Partial("_NavigateBackToQuotesPage", Model)

<div class="row form-group" style="margin-top: 50px">
    <div class="col-sm-2">
        <h4 class="control-label">Quote #:</h4>
    </div>
    <div class="col-sm-10">
        <h4 class="control-label">@Model.QuoteNumber</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <h4 class="control-label">Expected Ship Date:</h4>
    </div>
    <div class="col-sm-10">
        <h4 class="control-label"> @Model.ShippingDate</h4>
    </div>
</div>

@Html.Partial("_QuoteSystems", Model)

@section scripts
{
    <script src="~/Scripts/kendo.all.min.js"></script>

    <script>
        $(document).ready(function () {

            var statusCharts = $(".statusChart");
            statusCharts.each(function() {

                var chart = $(this);
                var statusData = chart.data("status");

                chart.kendoChart({
                    dataSource: {
                        data: statusData
                    },
                    title: {
                        text: "Manufacturing Progress"
                    },
                    series: [{
                        field: "value",
                        type: "bar",
                        colorField: "userColor"
                    }],
                    valueAxis: {
                        min: 0,
                        max: 100
                    },
                    categoryAxis: {
                        categories: ["Customer Information", "Engineering", "Production", "Galvanizer", "Assembly", "Shipping"]
                    },
                    tooltip: {
                    visible: true,
                    template: "${value}"
                }
                });
            });
        });
    </script>
}
