﻿
@model CustomersViewModel

@using (Ajax.BeginForm("CustomersPage", "Customers", null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "CustomersTable",
    OnBegin = "toggleLoading",
    OnComplete = "toggleLoading"
}, new { @role = "form" }))
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        <h3>Customers</h3>
        <hr />

        <div class="form-group" style="margin-top: 20px">
            <div class="form-group">
                <label for="SearchTerm" class="control-label col-sm-3 text-right">Search: </label>
                <div class="col-sm-3">
                    <input type="text" name="Search" id="SearchTerm" class="form-control" />
                </div>
                <div class="col-sm-1">
                    <input type="submit" value="Find" class="btn btn-default btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<div style="margin-top: 50px">
    @Html.Partial("_Customers", Model)
</div>

@section scripts{
    <script src="~/Scripts/AjaxUtilities.js"></script>
}
