﻿@model CherryCreekSystems.Website.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <br /><br />
    <p class="text-success">@ViewBag.StatusMessage</p>
}

<div>
    <h2>Change your account settings</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
