﻿
@model CherryCreekSystems.Website.Models.QuoteBoomSystemsViewModel

<div class="row" style="margin-top: 25px">
    <div>
        @using (Html.BeginForm("Index", "Quotes", FormMethod.Post))
        {
            @Html.HiddenFor(m => Model.Page)
            @Html.HiddenFor(m => Model.DistributorId)
            @Html.HiddenFor(m => Model.CustomerId)
            @Html.HiddenFor(m => Model.SalesRepId)
            @Html.HiddenFor(m => Model.QuoteStatusId)
            @Html.HiddenFor(m => Model.BoomTypeId)
            @*@Html.HiddenFor(m => Model.QuoteId)*@

            <input type="submit" class="btn btn-link" style="font-size: 16px" value="Return To Quotes" />
        }
    </div>
</div>